version: 2.1

executors:
  default:
    docker:
      - image: cimg/node:20.17.0
        environment:
          TZ: "America/Sao_Paulo"
    resource_class: small

#### Filters
filter-prd: &filter-prd
  branches:
    only: /main/
    ignore:
      - /.*/

filter-unstable: &filter-unstable
  branches:
    only: /unstable/
    ignore:
      - /.*/

##### Jobs
jobs:
  install_dependencies:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run:
          name: Install Dependencies
          command: npm ci
      - save_cache:
          key: v1-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules

  check_style:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Check Code Style
          command: npm run check

  run_tests:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Run Unit Tests
          command: npm run test

  build:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build Packages
          command: npm run build

  publish-types:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Publish @tiendanube/nube-sdk-types
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm publish --workspace packages/types --access public

  publish-ui:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Publish @tiendanube/nube-sdk-ui
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm run build --workspace packages/ui
            npm publish --workspace packages/ui --access public

  publish-jsx:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Publish @tiendanube/nube-sdk-jsx
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm run build
            npm publish --workspace packages/jsx --access public

  publish-create-nube-app:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Publish create-nube-app
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm run build
            npm publish --workspace packages/create-nube-app --access public

  publish-types-unstable:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Set unstable version
          command: |
            COMMIT_HASH=${CIRCLE_SHA1:0:7}
            npm version prerelease --preid=unstable.${COMMIT_HASH} --no-git-tag-version --workspace packages/types
      - run:
          name: Publish @tiendanube/nube-sdk-types (unstable)
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm publish --workspace packages/types --access public --tag unstable

  publish-ui-unstable:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build @tiendanube/nube-sdk-ui
          command: npm run build --workspace packages/ui
      - run:
          name: Set unstable version
          command: |
            COMMIT_HASH=${CIRCLE_SHA1:0:7}
            npm version prerelease --preid=unstable.${COMMIT_HASH} --no-git-tag-version --workspace packages/ui
      - run:
          name: Publish @tiendanube/nube-sdk-ui (unstable)
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm publish --workspace packages/ui --access public --tag unstable

  publish-jsx-unstable:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build packages
          command: npm run build
      - run:
          name: Set unstable version
          command: |
            COMMIT_HASH=${CIRCLE_SHA1:0:7}
            npm version prerelease --preid=unstable.${COMMIT_HASH} --no-git-tag-version --workspace packages/jsx
      - run:
          name: Publish @tiendanube/nube-sdk-jsx (unstable)
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm publish --workspace packages/jsx --access public --tag unstable

  publish-create-nube-app-unstable:
    executor: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build packages
          command: npm run build
      - run:
          name: Set unstable version
          command: |
            COMMIT_HASH=${CIRCLE_SHA1:0:7}
            npm version prerelease --preid=unstable.${COMMIT_HASH} --no-git-tag-version --workspace packages/create-nube-app
      - run:
          name: Publish create-nube-app (unstable)
          command: |
            npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN_SDK
            npm publish --workspace packages/create-nube-app --access public --tag unstable

##### Workflows
workflows:
  version: 2
  build-and-publish:
    jobs:
      - install_dependencies:
          context: microservices
      - check_style:
          context: microservices
          requires:
            - install_dependencies
      - run_tests:
          context: microservices
          requires:
            - check_style
      - build:
          context: microservices
          requires:
            - run_tests
      - approval-publish-types:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-prd
      - approval-publish-ui:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-prd
      - approval-publish-jsx:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-prd
      - approval-publish-create-nube-app:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-prd
      - publish-types:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-types
      - publish-ui:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-ui
      - publish-jsx:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-jsx
      - publish-create-nube-app:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-create-nube-app
      # Unstable publishes
      - approval-publish-types-unstable:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-unstable
      - approval-publish-ui-unstable:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-unstable
      - approval-publish-jsx-unstable:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-unstable
      - approval-publish-create-nube-app-unstable:
          type: approval
          requires:
            - build
          filters:
            <<: *filter-unstable
      - publish-types-unstable:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-types-unstable
      - publish-ui-unstable:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-ui-unstable
      - publish-jsx-unstable:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-jsx-unstable
      - publish-create-nube-app-unstable:
          context: NPM_TOKEN_SDK
          requires:
            - approval-publish-create-nube-app-unstable
